# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Venv
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Kaggle / datasets / artifacts
data/
*.zip
*.tar
*.tar.gz

# model artifacts (if you train later)
*.pt
*.pth
*.onnx
*.h5
*.ckpt

# HuggingFace cache (big)
.cache/
**/.cache/
