# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Venv
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Data / models (don't push big files)
data/
samples/*.wav
samples/*.mp3
samples/*.mp4

# HuggingFace cache (big)
.cache/
**/.cache/
