numpy
pandas
tqdm
python-dotenv

# HuggingFace
torch
torchaudio
transformers

# Image / face emotion
opencv-python
pillow
fer

# Audio
librosa
soundfile

# Kaggle downloader
kaggle

# API
fastapi
uvicorn
python-multipart
